h4 {
    color: var(--primary);
    font-weight: 400;
    margin-top: 1.5rem;
}
.dish-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    grid-gap: 1rem;
    color: var(--text-color);
    
    div {
        display: inline;
    }
    .separator {
        position: relative;
        flex-grow: 1;
        &::after {
            content: "";
            position: absolute;
            bottom: 4px;
            height: 1px;
            width: 100%;
            background-color: var(--light-secondary);
        }
    }
    .price {
        color: var(--primary);
        font-weight: 600;
    }
}

.note {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    color: var(--light-secondary);
    font-family: "open sans";
    font-style: italic;
}