.container {
    width: 100%;
    padding: 1.25rem;
    font-family: "Roboto Slab";
    box-shadow: inset 0 7px 10px -9px rgb(0 0 0 / 15%);

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 1rem;
            margin-top: 1rem;
            background: var(--primary);
        }
        h4 {
            text-align: center;
            font-weight: 400;
            color: var(--primary);
        }
    }

    .carte-menu-items {
        display: flex;
        flex-direction: column;
    }
    
}