nav {
    position: fixed;
    background-color: white;
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 40%);
    top: 0;
    z-index: 2;
}
.nav-container {
    width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: #313031;
    font-size: 14px;
    grid-gap: 1rem;

    
    > div {
        cursor: pointer;
    }

    .home {
        height: 2.5rem;
        img {
            height: 100%;
        }
    }

    .nav-items-active {
        color: var(--primary);
    }

    .nav-items {
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .dropdown {
        svg {
            height: .9rem;
            fill: var(--primary);
            position: relative;
            top: 1px;
            margin-left: .5rem;
            transition: 400ms;
        }

        &:hover svg {
            transform: rotate(-180deg);
            
        }
    }
    
    .nav-items::before {
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        margin-right: 0.5rem;
        background-color: var(--primary);
        border-radius: 50%;
    }
    .nav-items:nth-child(2):before{
        display: none;
    }

    .nav-btn.nav-margin {
        margin-left: auto;
    }

    .nav-btn button {
        font-family: "Open Sans";
        text-transform: uppercase;
        color: var(--primary);
        border: 2px solid var(--primary);
        font-size: 400;
        padding: .3rem .5rem;
        border-radius: 2px;
        transition: 300ms;
        &:hover {
            color: white;
            background: var(--primary);
        }
    }
}

.hero {
    position: relative;
    margin-top: 72px;
    background: url("../assets/Carte-hero.jpg");
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 550px;
    background-position-y: 40%;
}

main {
    position: relative;
    margin: 3rem auto 10rem;
    width: 1000px;    
}