:root {
    --primary: #b09584;
    --secondary: #2B2B2B;
    --text-color: #56595F; 
    --light-secondary: #9B9B9B;
    --border: #F4F4F4;


    --font-title: "Roboto Slab", sans-serif;
    --font-text: "Open sans", sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

button {
    background: transparent;
    border: none;
    font-family: unset;
    font-size: unset;
    color: unset;
    cursor: unset;
}

a {
    font-family: unset;
    color: unset;
    text-decoration: unset;
}