.container {
    display: flex;   
    flex-direction: column;
    grid-gap: 4rem;
    app-carte-menu {
        border: 2px solid #F4F4F4;
        border-top: 2px solid var(--primary);
        display: block;
    }

}

